    <div class="nav-links">
        {% if page.previous %}
          <a href="{{ page.previous.url }}" class="prev-page">Previous page: {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
          <a href="{{ page.next.url }}" class="next-page">Next page: {{ page.next.title }}</a>
        {% endif %}
      </div>
      
    <div class="footer-content">
      <h2>Still have questions? LANDFIRE is here to help.</h2>
        <ul>
          <li>Ask the <a href="mailto:helpdesk@landfire.gov?subject=landfirehelp">LANDFIRE Helpdesk</a> (email link).</li>
          <li>Search the <a href="https://landfire.gov/helpdesk">LANDFIRE Helpdesk Dashboard</a> to see what others are asking and find solutions to common problems.</li>
          <li>Search and subscribe to the <a href="https://www.youtube.com/@LANDFIREvideo">LANDFIRE YouTube Channel</a> (see tutorials, Office Hours, quick demonstrations).</li>
          <li><a href="https://tnc.zoom.us/meeting/register/tJArf-igqD8oE9S7qGDsOm7oeF7aZBJDMqBG">Join an Office Hour</a> (monthly meeting with open format Q & A with LANDFIRE experts).</li>
          <li><a href="mailto:landfire@tnc.org?subject=landfirehelp">Schedule a meeting</a> with TNC’s LANDFIRE Team (email link).</li>
       </ul>
    </div>